@model AppVendas.Models.Produto

@{
    ViewData["Title"] = "Excluir produtos";
}

<div class="d-flex justify-content-between my-5 align-items-center">
    <span class="display-6  w-75 justify-contet-center">Cadastro de categorias</span>
</div>

<h3>você tem certeza que deseja excluir?</h3>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProdutoNome)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProdutoNome)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Valor)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Valor)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.QtadeEstoque)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.QtadeEstoque)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CadastroAtivo)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CadastroAtivo)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Categoria)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Categoria.CategoriaNome)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="CategoriaId" />
    <input type="submit" value="Delete" class="btn btn-outline-danger mt-3 px-5 py-1 me-3" />
    <a asp-action="Index" class="btn btn-outline-info align-items-center px-5 mt-3 justify-content-center py-1">
        <ion-icon name="arrow-back-outline" class="me-2 align-content-center"></ion-icon>
        Voltar
    </a>
</form>
